<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header style="padding: 10px; border-bottom: 1px solid #ccc; display: flex; justify-content: space-between;">
      <div class="logo">
        <%= link_to "Tabiato", root_path, style: "font-weight: bold; text-decoration: none;" %>
      </div>
      
      <div class="menu">
        <% if user_signed_in? %>
          <span><%= current_user.email %> さん</span>
          <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, style: "margin-left: 10px;" %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path, style: "margin-right: 10px;" %>
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
      </div>
    </header>
      <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
